<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>import</title>
</head>
<body>
    <form method="post" action="/api/professionnels/changePhotoDeProfile?_method=patch" enctype="multipart/form-data">
        <input type="file" name="image" id="image" > <!-- tzid multiple bh ta9dar tab3at multiple file-->
        <button onclick=(hundleUpload)>send</button>
    </form>

</body>
</html>