<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/<%=type%>/<%=id%>/password/<%=tokenId%>" method="post">
        <div>
            <label for="password">Enter Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="verifyPassword">Verify Password</label>
            <input type="password" name="verifyPassword" id="verifyPassword">
        </div>
        <button type="submit">Recover</button>
    </form>
</body>
</html>