<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'inscription</title>
</head>

<body>
    <h1>Inscription</h1>
    <form method="post" action="/continueSignup?_method=patch">
        <div>
            <label for="wilaya">Wilaya :</label>
            <input type="text" id="wilaya" name="wilaya" required>
        </div>
        <div>
            <label for="ville">Ville :</label>
            <input type="text" id="ville" name="ville" required>
        </div>
        <button type="submit">Continue</button>
    </form>
</body>

</html>
