<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup/google/type" method="post">
    <div>
        <label for="userType">Choisissez un type de compte:</label>
        <select id="userType" name="type" required>
            <option value="">Choisissez un type de compte</option>
            <option value="Client">Client</option>
            <option value="Professionnel">Professionnel</option>
        </select>
    </div>
    <button>chose</button>
</form>
</body>
</html>