<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Email Recovery</h1>
    <form action="/recuperatePassword" method="post">
        <div>
            <label for="email">Enter email</label>
            <input type="text" name="email" id="email">
            <button type="submit">Send Email Recovery</button>
        </div>
    </form>
    <br>
</body>

</html>
